body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div.jGrowl div.jGrowl-notification { 
  font-weight: bold; 
}

div.jGrowl div.jGrowl-notification.ui-state-error { 
  background-color: #d9534f; 
}

div.jGrowl div.jGrowl-notification.ui-state-success { 
  background-color: #26b99a; 
}