<div class="x_panel">
    <div class="x_title">
        <h2>Operation</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                </ul>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="dashboard-widget-content">
            <ul class="list-unstyled timeline widget">
                  <li>
                    <div class="block">
                        <div class="block_content">
                            <div class="row">
                                <div class="col-xs-8">
                                    <h2 class="title">
                                        <a>Relief 2016 Round 6</a>
                                    </h2>
                                </div>
                                <div class="col-xs-4">
                                    <span>Operation Progress</span>
                                    <div class="progress progress_sm ">
                                        <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="57" aria-valuenow="56" style="width: 100%;"></div>
                                    </div>
                                    <small>100% Complete</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="row"> <button type="button" class="btn btn-dark btn-xs">Archived</button> </div>
                                    <div class="row"> <span>Relief</span> </div>
                                    <div class="row"> <a>Analytics & Reports </a> </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="row"> <span>No of regions: </span></div>
                                    <div class="row"> <span>Total commodities: </span> </div>
                                    <div class="row"> <span>Total beneficiaries: </span> </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="row"> <span>Start date: </span></div>
                                    <div class="row"> <span>End date: </span> </div>
                                </div>
                                <div class="col-md-3" />
                            </div>
                            <div class="row">
                                <div class="col-xs-8"> </div>
                                <div class="col-xs-4 pull-right">
                                    <a class="btn btn-primary">
                                        <i class="fa fa-edit"></i> Edit
                                    </a>
                                     {{#if false }} <!--if operation status is archived-->
                                    <a class="btn btn-success">
                                        <i class="fa fa-edit"></i> Open
                                    </a>
                                    <div class="btn btn-group">
                                        <button type="button" class="btn btn-danger">Tasks</button>
                                        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Request</a>
                                            </li>
                                            <li class="divider"></li>
                                            <li><a href="#">Allocation</a>
                                            </li>
                                            <li><a href="#">Dispatch</a>
                                            </li>
                                            <li class="divider"></li>
                                            <li><a href="#">Close</a>
                                            </li>
                                        </ul>
                                        </a>
                                    </div>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                </li>
                <li>
                    <div class="block">
                        <div class="block_content">
                            <div class="row">
                                <div class="col-xs-8">
                                    <h2 class="title">
                                        <a>Relief 2017 Round 1</a>
                                    </h2>
                                </div>
                                <div class="col-xs-4">
                                    <span>Operation Progress</span>
                                    <div class="progress progress_sm">
                                        <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="57" aria-valuenow="56" style="width: 57%;"></div>
                                       
                                    </div>
                                    <small>57% Complete</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="row"> <button type="button" class="btn btn-warning btn-xs">Ongoing</button> </div>
                                    <div class="row"> <span>Relief</span> </div>
                                    <div class="row"> <a>Analytics & Reports </a> </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="row"> <span>No of regions: </span></div>
                                    <div class="row"> <span>Total commodities: </span> </div>
                                    <div class="row"> <span>Total beneficiaries: </span> </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="row"> <span>Start date: </span></div>
                                    <div class="row"> <span>End date: </span> </div>
                                </div>
                                <div class="col-md-3" />
                            </div>
                            <div class="row">
                                <div class="col-xs-8"> </div>
                                <div class="col-xs-4 pull-right">
                                    <a class="btn btn-primary">
                                        <i class="fa fa-edit"></i> Edit
                                    </a>
                                     {{#if true }} <!--if operation status is not archived-->
                                    <a class="btn btn-success">
                                        <i class="fa fa-edit"></i> Open
                                    </a>
                                    <div class="btn btn-group">
                                        <button type="button" class="btn btn-danger">Tasks</button>
                                        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Request</a>
                                            </li>
                                            <li class="divider"></li>
                                            <li><a href="#">Allocation</a>
                                            </li>
                                            <li><a href="#">Dispatch</a>
                                            </li>
                                            <li class="divider"></li>
                                            <li><a href="#">Close</a>
                                            </li>
                                        </ul>
                                        </a>
                                    </div>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                </li>
            </ul>
            </div>
        </div>
    </div>